---
import NavBarItem from "./NavBarItem.astro"
---

<nav class="flex items-start py-8">
  <ul class="flex flex-wrap mr-auto">
    <NavBarItem  link="/" label="Home" />
    <NavBarItem link="" label="Philosophies" />
    <NavBarItem link="" label="Beyond technology" />
  </ul>
</nav>
