---

---

<nav class="flex items-start py-8">
  <ul class="flex flex-wrap mr-auto">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="">Philosophies</a>
    </li>
    <li>
      <a href="">Beyond technology</a>
    </li>
  </ul>
</nav>

<style>
  li {
    opacity: 0.8;
    list-style: none;
    font-size: 0.95rem;
  }
  ul li a {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    text-decoration: none;
  }
</style>